@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f5f9;
}

#opened {
  opacity: 1;
  animation: mostrarMenu 1s ease forwards;
}

@keyframes mostrarMenu {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.swiper.negativo {
  z-index: -1 !important;
}
